/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');
</style>  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-image{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 700px;   
}
h2{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    
    color: #FFFFFF;
}
h2 span{
    font-weight: 700;
}
p{
    padding: 20px 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;
}
.buttons{
    margin-left: 100px;
    margin-top: 20px;   
}
button{
    width: 230px;
    height: 75px;
    left: 460px;
    top: 548px;
    border: 5px;

    background: #FFFFFF;
    border-radius: 2px;
    margin: 0 5px;
    
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
}
.next1{
        
    position: absolute;
    left: 94.44%;
    right: 4.17%;
    top: 48.1%;
    bottom: 47.9%;
}
.next2{    
    position: absolute;
    right: 94.44%;
    left: 4.17%;
    top: 48.1%;
    bottom: 47.9%;
}