body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: 100vh;
    width: 100vw; }
.bar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 24px;
    /* background-color: black; */
    box-shadow: 25px 15px 23px -23px rgb(43, 43, 43);
    position: relative;
}
a :hover{
    filter: invert(100%);
}
img:hover{
    filter: none;
}
.button{
    padding: 0;
    width: 100%;
    height:100%;
    background: rgb(0, 0, 0) ;
    border: none;  
}
.button-edge-top{   
    border-radius: 24px 24px 0 0;
    padding: 0;
    width: 100%;
    height:100%;
    background: rgb(0, 0, 0) ;
    border: none;
}
.button-edge-bottom{
    border-radius: 0 0 24px 24px;
    padding: 0;
    width: 100%;
    height:100%;
    background: rgb(0, 0, 0) ;
    border: none;
}
.bar-select{
    background-color: #F1D5BB;
    padding: 0;
    width: 100%;
    height:100%;
    border: none;
}
.bar-image{
    width: 40%;}
.main{
    margin: 100px 30px 0 40px;
    display: flex;
}
h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 63px;
    margin-top: 10px;
    
    position: absolute;
    top: 0px;
}
h2::before{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;                          
    width: 100%;
    background-color: #F1D5BB;
}
.basket{
    background: #F1D5BB;
    /* margin: 100px 0px 0px 0; */
    padding: 10px 0px;
    width: 50%;
    height: 420px;
    border-radius: 3px;   
}
.basket-items{
    display: flex;
    margin: 20px 23px 20px 20px;
    height: 80px;
     
    position: relative;
}
.basket-items .img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
.basket-text{
    margin: 20px 0 0 20px;
}
.title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    margin: 0;
}
.price{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.quantity{
    display: flex;
    margin: 0px 0 0 20px;
    align-items: center;
    position: absolute;
    right: 130px;
    align-self: center;
}
.qt{
    background: none ; 
    border: none;
}
.number{
    background: #FFFFFF;
    width: 23px;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 2px;
    font-size: 13px;
    padding-top: 5px;
}
.basket-items .cancel{
  
    
    border-radius: none;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    margin: 14px;
    /* display: flex; */
    align-self: center;
    
}
.pay{
    
    height: 420px;
    width: 400px;
    margin: 0 39px;
}
.pay-price{
    height: 186px; 
    padding:17px 37px; 
    background-color: #F1D5BB;
    border-radius: 3px 3px 0 0;
}
.pay-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;

    color: #000000;
}
.total{
    display: flex;
    
    margin-top: 26px;
}
.text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}
.total-price{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    padding-left: 43px;
}
.pay-button{
    margin-top: 17px;
    width: 100%;
    height: 29%;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    border-radius: 3px;
}
.promo{
    /* height: 210px; */
    border: 1px solid #F1D5BB;
    border-radius:  0 0 3px 3px;
    padding:17px 37px; 
    height: 186px;
}
.promo-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;    

}
.promo .promo-code input{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin: 10px  0;
    padding: 0 15px ;
    border: 1px solid #F1D5BB;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 38px;

    transition: all 0.3s ease;
}

.promo .promo-code input:focus,
.promo .promo-code input:valid{
    border-color: #F1D5BB;
}
.promo .promo-code input:hover{
    background-color:  #e1f1f1;
    border: 6px solid #f0e8e0; 
}
/* .promo .apply-button{
    background: aqua;
    display: flex;
    justify-content: center;
} */
.promo .apply-button input{
    margin-top: 10px;
    width: 50%;
    height: 56px;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    border-radius: 3px;

}